@page
@model Final_Indv_Assignment.Pages.Forms.TicketsModel
@{
	ViewData["Title"] = "Tickets";
}
<p>
    @if (Model.Tickets != null)
    {
        foreach (var ticket in Model.Tickets)
        {
            <p>@ticket.StartingStation.Name , @ticket.DestinationStation.Name , @ticket.DepartureDate , @ticket.Price , @ticket.Distance</p>
        }
    }
</p>
