@page
@using Newtonsoft.Json
@model Final_Indv_Assignment.Pages.Forms.TicketModel
@{
    ViewData["Title"] = "Tickets";
}
<p>Tickets Available</p>
<p>
    @if (Model.Tickets != null)
    {
        foreach (var ticket in Model.Tickets)
        {
            <form method="post" asp-page-handler="AddToCart" asp-route-productId="@ticket.Id">
                <p>@ticket.StartingStation.Name , @ticket.DestinationStation.Name , @ticket.DepartureDate , @ticket.Price , @ticket.Distance</p>
                <input type="hidden" name="serializedTickets" value="@JsonConvert.SerializeObject(Model.Tickets)" />
                <button type="submit">Add to Cart</button>
            </form>
        
        }
    }
</p>