@page 
@using LogicLayer.Class
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //string username = HttpContext.Request.Query["username"];
}


<body> 
    <div class="WelcomeTitle">
        <h1 class="display-4">Welcome @Model.Username! </h1>
        
    </div>

    <div>
        @foreach (var ticket in Model.tickets)
        {
            <text>@ticket.DestinationStation.Name - @ticket.StartingStation.Name - @ticket.DepartureDate</text><br />
        }
    </div>

    <form method="post">
        <label for="startingStation">Starting Station:</label>
        <select id="startingStation" name="StartingStationId">
            <option value="">--Select a station--</option>
            @foreach (var station in Model.stations)
            {
                <option value="@station.Id">@station.Name</option>
            }
        </select>

       

        <label for="endingStation">Ending Station:</label>
        <select id="endingStation" name="EndingStationId">
            <option value="">--Select a station--</option>
            @foreach (var station in Model.stations)
            {
                <option value="@station.Id">@station.Name</option>
            }
        </select>
        <label for="departure-date">Departure date:</label>
        <input type="date" id="departure-date" name="departure-date">

        <label for="return-date">Return date:</label>
        <input type="date" id="return-date" name="return-date">
        

        <input type="submit" name="login" value="Login" />
       
    </form>    
    
        <p>Distance: @Model.Distance km</p>
        <p>Price: @Model.Price</p>
    
    







</body>
