@page 
@using LogicLayer.Class
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //string username = HttpContext.Request.Query["username"];
}


<body> 
    <div class="WelcomeTitle">
        <h1 class="display-4">Welcome @Model.Username! </h1>
        
    </div>

    <div>
       @* @foreach (var ticket in Model.tickets)
        {
            <text>@ticket.DestinationStation.Name - @ticket.StartingStation.Name - @ticket.DepartureDate</text><br />
        }*@
    </div>

    <div class="form-container">
        <form method="post">
            <div class="row">
                <label for="startingStation">Starting Station:</label>
                <select id="startingStation" name="StartingStationId">
                    <option value="">--Select a station--</option>
                    @foreach (var station in Model.stations)
                    {
                        <option value="@station.Id">@station.Name</option>
                    }
                </select>

                <label for="endingStation">Ending Station:</label>
                <select id="endingStation" name="EndingStationId">
                    <option value="">--Select a station--</option>
                    @foreach (var station in Model.stations)
                    {
                        <option value="@station.Id">@station.Name</option>
                    }
                </select>
            </div>

            <div class="row">
                <label for="departureDate">Departure date:</label>
                <input type="date" id="departureDate" name="DepartureDate">

                <label for="return-date">Return date:</label>
                <input type="date" id="return-date" name="return-date">

                <label for="time">Time:</label>
                <input type="time" id="time" name="time">
            </div>

            <input type="submit" name="login" value="Search" />
        </form>
    </div>
    
        
   
    










</body>
