@page 
@using LogicLayer.Class
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //string username = HttpContext.Request.Query["username"];
}


<body> 
    <div class="WelcomeTitle">
        <h1 class="display-4">Welcome @Model.Username! </h1>
    </div>

    <form method="post">
        <label for="startingStation">Starting Station:</label>
        <select id="startingStation" name="startingStation">
            <option value="">--Select a station--</option>
            @foreach (var station in Model.stations)
            {
                <option value="@station.Id">@station.Name</option>
            }
        </select>

        <br />

        <label for="endingStation">Ending Station:</label>
        <select id="endingStation" name="endingStation">
            <option value="">--Select a station--</option>
            @foreach (var station in Model.stations)
            {
                <option value="@station.Id">@station.Name</option>
            }
        </select>

        <br />

        <input type="submit" name="login" value="Login" />
    </form>

    @if (Request.Method == "POST" && Model.Tickets != null)
    {
        <p>Distance: @Model.Tickets.Distance km</p>
        <p>Price: $@Model.Tickets.Price</p>
    }
    







</body>
